<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <style>
        li {
            line-height: 40px;
        }
        .done span {
            text-decoration: line-through;
            color: #cccccc;
        }
        .pages {
            margin: 10px;
        }
        .pages a {
            margin: 15px;
        }
        .pages a.active {
            color: red;
        }
        .footer {
            margin: 10px;
        }
        .footer button.active {
            background: yellow;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1>App</h1>
        <div>
            <input type="text" v-model="newValue" />
            <button @click="add">添加新任务</button>
        </div>
        <hr />
        <ul>
            <li v-for="todo of todos" :key="todo.id" :class="{done: todo.done}">
                <input type="checkbox" :checked="todo.done" @click.prevent="toggle(todo.id, !todo.done)" />
                <span>#{{todo.id}} - {{todo.title}}</span>
                <button @click="remove(todo.id)">删除</button>
            </li>
        </ul>
        <div class="pages">
            <a href="" :class="{active: n == page}" @click.prevent="changePage(n)" v-for="n of pages">{{n}}</a>
        </div>
        <div class="footer">
            <button :class="{active: type===''}" @click="changeType('')">所有</button>
            <button :class="{active: type===1}" @click="changeType(1)">已完成</button>
            <button :class="{active: type===0}" @click="changeType(0)">未完成</button>
        </div>
    </div>


    <script>
    
        new Vue({
            el: '#app',
            data: {
                newValue: '',
                page: 1,
                prepage: 4,
                pages: 0,
                type: '',
                todos: []
            },
            created() {
                // console.log(1)
                this.getData();
            },
            // computed: {
            //     async todos() {
            //         return await getData(this.page);
            //     }
            // },
            methods: {
                getData() {
                    fetch('/todos?type='+ this.type +'&page=' + this.page + '&prepage=' + this.prepage).then(res => {
                        return res.json();
                    }).then( data => {
                        this.todos = data.data.todos;
                        this.pages = data.data.pages;
                        // console.log(1)
                    } );
                },
                changePage(n) {
                    this.page = n;
                    this.getData();
                },
                changeType(m) {
                    this.type = m;
                    this.getData();
                },
                add() {
                    fetch('/add', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify( {title: this.newValue} )
                    }).then(res => {
                        return res.json();
                    }).then( data => {
                        // this.todos = data.data;
                        // console.log(1)
                        if (!data.code) {
                            this.getData();
                        }
                    } )

                    this.newValue = '';
                },
                toggle(id, todo) {
                    fetch('/toggle', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify( {id, todo: Number(todo)} )
                    }).then(res => {
                        return res.json();
                    }).then(data => {
                        if (!data.code) {
                            this.getData();
                        }
                    });
                },
                remove(id) {
                    fetch('/remove', {
                            method: 'post',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify( {id} )
                        }).then(res => {
                            return res.json();
                        }).then(data => {
                            if (!data.code) {
                                this.getData();
                            }
                        });
                }
            }
        })
    
    </script>
</body>
</html>