<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/{{datas.skin}}" />
</head>
<body>
    <h1>{{datas.appName}}</h1>
    <a href="/add">添加新任务</a>
    <hr />
    <!-- 
        我们可以通过url中querystring传递地址以外的数据

        当我们通过表单发送一个请求的时候：
            当method为get的时候，表达会把表单中的数据通过
                表单name=表单值
            的形式添加到 action 地址的?后面

        /posttask?title=123

        注意：
            url的长度是有限制的，所以querystring的长度也是有限制的，数据量比较
            大的内容是不推荐使用querystring的方式进行传输的
            这个querystring是url中一部分，所以最终问题是因为url的问题，不是get

            get请求会缓存url，所以get请求的时候，url上的内容也会被缓存
            

        get：请求，如果当前请求是以获取为主，那么就应该是get
        post：提交，如果当前请求是数据提交为主，那么就应该是post

     -->
    <form action="/posttask" method="POST">
        <input type="text" name="title">
        <button>添加</button>
    </form>
</body>
</html>